body {
	vertical-align: middle;
	text-align: center;
	background-color: lightblue;
	font-family: Helvetica, Arial, sans-serif
}

.right {
	position: absolute;
	left: 10px;
	top: 10px;
}

.big {
	font-size: 150%;
}