table{
    border: 2px solid black;
    vertical-align: middle;
    margin: auto;
    width: 600px;
}
td, th {
    border: 2px solid black;
}
th {
    text-align: center;
    vertical-align: middle;
}
body {
    vertical-align: middle;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
}