body {
    background-color: rgb(236, 231, 179);
    font-family: 'Monaco', monospace;
    vertical-align: middle;
    padding-bottom: 10px;
    text-align: center;
}
h1{ 
    vertical-align: middle;
    text-align: center;
    text-decoration: underline;
}
h2 {
    margin-left: 30%;
    margin-right: 30%;
    text-decoration: underline;
}
h3 {
    margin-left: 30%;
    margin-right: 30%;
    text-decoration: underline;
}
p {
    margin-left: 30%;
    margin-right: 30%;
}

.line {
    margin-left: 30%;
    margin-right: 30%;
}
.bar {
    font-size: 18px;
    text-align: center;
    background-color: rgb(238, 159, 159);
    border: 3px solid rgb(173, 171, 141);
    padding-top: 20px;
}

.image_block    {
    width: 175px;
    height: 175px;
    position: relative;
}

.video{
	border-top: 1px solid black;
}

.image_block img  {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
}

.guy {
    position: absolute;
    left: 20%;
    top: 10px;
}

.box {
    height: 300px;
    width:100%;
    position:relative;
}

.box img {
    margin:auto; /* Required */
    position:absolute; /* Required */
    bottom:0; /* Aligns at the bottom */
    left:0;
    right:0; /* Aligns horizontal center */
    max-height:100%; /* images bigger than 175 px  */
    max-width:100%;  /* will be shrinked to size */ 
}

.sig {
    position: absolute;
    font-size: 12px;
    left: 85%;
}

.emu {
	position: absolute;
	right: 20%;
	top: 10px;
}
.background {
	position: absolute;
	left: 200px;
}

.slideshow {   
    position: relative;
    left: 42%;
    line-height: 50px;
}
.center {
    text-align: center;
}
form {
    display: inline-block;
}

.button {
    background-color: rgb(253, 169, 160);
    border-radius: 2px;
    border: 2px solid black;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Monaco', monospace;
}

input[type = submit] {
    background-color: salmon;
    border-radius: 4px;
    border: 2px solid salmon;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Monaco', monospace;
}

.dialogue {
    background-color: blanchedalmond;
    padding: 10px 20px;
    text-align: center;
    position: absolute;
    top: 30%;
    width: 300px;
    left: 10%;

}

.leader {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(87, 77, 51);
}

td {
    border: 2px solid rgb(87,77,51);
}
