html {
  margin: 2px;
  padding: 2px;
}

body {
  margin: 2px;
  padding: 2px;
  color: #595D64;
  background-color: #F4F4F4;
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-size: small;
  line-height: 200%;
}

img {
  border: 5px solid #7d775c;
  width: '50%'
  height: '50%'
}

.header {
  position: absolute;
  top: 0px;
  margin: 2px;
  max-height: 60px;
  border-bottom: 1px double;
  vertical-align: middle;
  width: 98.5%;
}

.double {
  border-bottom: 1px double;
  vertical-align: middle;
  top: 46px;
  margin: 2px;
  width: 98.5%;
  position: relative;
}
h1 {
  font-size: large;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
  vertical-align: middle;
  color: #595D64;
  width: 100%;
}
h2 {
  letter-spacing: 1px;
  text-align: center;
  vertical-align: middle;
  color: #595D64;
}

.navCol {
  position: absolute;
  top: 60px;
  left: 0px;
  width: 150px;
  min-height: 550px;
  margin: 2px;
  padding-top: 2px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.adCol {
  position: absolute;
  top: 60px;
  left: 950px;
  width: 300px;
  min-height: 550px;
  margin: 2px;
  padding-top: 2px;
  padding-right: 20px;
  padding-bottom: 2px;
  padding-left: 20px;
}

.headlines {
  position: absolute;
  top: 60px;
  left: 200px;
  width: 700px;
  min-height: 800px;
  margin: 2px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  padding-top: 2px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
}

.footer {
  position: relative;
  top: 900px;
  clear: both;
  width: 98.5%;
  margin: 10px;
  padding: 2px;
  border-top: 1px double;
  border-bottom: 1px solid;
}
p {
  margin-bottom: 8px;
}
hr {
  margin-bottom: 4px;
}

.center {
  text-align: center;
  width: '100%';
}